* {
    margin: 0;
}

body {
    font-family: 'Azeret mono';
}

/* Nan Bar style */
.nav {
    font-family: 'Consolas';
    display: flex;
    justify-content: space-between;
    margin: 0px 166px 0px 150px;

}

/* banner style */
.banner {
    font-family: 'Azeret mono';
    max-width: 1440px;
    height: 652px;
    border: 2px solid red;

    background-image: url(../assets/Hero-bg.png);
    margin: 0 auto;
}

/* Why wed developing */
.w-w-devo {
    background-color: rgba(13, 19, 33, 0.02);
    width: 1140px;
    height: 1395px;
    border: 2px solid red;

    margin: 0 auto;
}

/* My current target */
.my-c-tar {
    width: 1140px;
    height: 460px;
    border: 2px solid red;
    margin: 0 auto;
}

/* My next target */
.my-n-tar {
    width: 1140px;
    height: 866px;
    border: 2px solid red;
    margin: 0 auto;
}

/* I need support */
.i-n-sup {
    width: 1140px;
    height: 313px;
    border: 2px solid red;
    border-radius: 16px;
    margin: 0 auto;
    background-image: linear-gradient(180.00deg, rgba(7, 2, 17, 0.453), rgba(7, 2, 17, 0.453) 100%),
        url(../assets/handshake.jpg);
    background-position: center;
    background-size: cover;
}

/* footer style  */
.footer {
    max-width: 1440px;
    height: 100px;
    border: 2px solid red;
    margin: 0 auto;
    background-color: rgba(13, 19, 33, 0.03);
}